/* 
    Cosc 345 Assignment 3
    Team: Celocity
    Cookin' Companion
    CSS Style Sheet for the Emulator's Web Page
*/

#left{
    width: 30%;
    border: 1px solid black;
    float: left;
    padding: 20px;
}

#centre{
    width: 30%;
    border: 1px solid black;
    float: left;
}

#centre p{
    margin: 20px;
}

#right{
    width: 30%;
    border: 1px solid black;
    float: left;
    padding: 20px;
}

#touchScreen{
    margin-left: auto;
    margin-right: auto;
}